.main {
    flex-grow: 1;
}

.error__wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.error__wrapper .error_text {
    font-size: 15rem;
}

.error__wrapper p {
    font-size: 2rem;
}

@media (max-width: 770px) {
    .error__wrapper .error_text {
        font-size: 10rem;
    }
}
