/* Main */
.main__test {
    width: 60%;
    text-align: center;
    margin-right: 20px;
}

.info {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.info .item {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    margin: 0 7px;
    border-radius: 5px;
}

.info .item1 {
    background: linear-gradient(15deg, #FF416C, #FF4B2B)
}

.info .item2 {
    background: linear-gradient(15deg, #FDC830, #F37335)
}

.info .item3 {
    background: linear-gradient(15deg, #00B4DB, #0083B0)
}

.info .item .value {
    font-size: 23px;
    font-weight: 500;
}

/* Game area */
.game-area {
    position: relative;
    display: flex;
    height: 500px;
    background-color: #090B10;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #fff;
    cursor: url(/static/images/crosshairs/scope.png) 19 19, auto;
}

.gradient-btn {
    cursor: inherit !important;
}

/*  Target  */
.target {
    animation-iteration-count: 1;
}

@keyframes targetAppearance {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@media (max-width: 767px) {
    .game-area {
        display: none !important;
    }

    .game-area__wrapper:after {
        content: "The game doesn't works on small screens";
        font-size: 24px;
        color: red;
        text-align: center;
    }
}

@media (max-height: 550px) {
    .info {
        margin-bottom: 15px;
    }

    .game-area {
        height: 300px;
    }
}
