/* General settings */
body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background: #0F111A;
    color: #eeffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container-fluid {
    width: 90%;
}

a, a:hover {
    color: #eeffff;
    text-decoration: none;
}

button,
button:active,
button:focus,
input,
input:active,
input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

/*  Scrollbar  */
body::-webkit-scrollbar {
    width: 14px;
    /* ширина scrollbar */
}

body::-webkit-scrollbar-track {
    background: #343434;
    /* цвет дорожки */
}

body::-webkit-scrollbar-thumb {
    background-color: #565656;
    /* цвет плашки */
    border-radius: 6px;
    /* закругления плашки */
    border: 3px solid #343434;
    /* padding вокруг плашки */
}

.block {
    background: #181A1F;
    padding: 15px 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.box-shadow {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.title {
    margin: 5px 0 20px;
    font-size: 25px;
}

/*  Header  */
.header {
    padding: 10px 0;
    margin-bottom: 20px;
    background: #1A1C25;
}

.header .row {
    justify-content: space-between;
    align-items: center;
}

.header .header__logo {
    display: flex;
    align-items: center;
}

.header .header__logo .img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.header .header__logo .name {
    display: inline;
    font-size: 30px;
}

.header .header__nav .navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header .header__nav .navigation .item {
    font-size: 20px;
    transition: .2s ease;
    display: inline-block;
    margin: 0 15px;
    color: #ffffff;
}

.header .header__nav .navigation .item:hover {
    color: #82aaff;
}

.main {
    flex-grow: 1;
}

/*  Dropdown menu */
.dropdown-toggle {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    padding: 0;
}

.dropdown-toggle::after {
    vertical-align: middle;
}

.dropdown-toggle:focus {
    border: none !important;
}

.dropdown-menu {
    text-align: center;
    border-radius: 3px;
    padding: 0;
    background-color: #151515;
}

.dropdown-menu .dropdown-item {
    padding: .75rem 1.5rem;
    color: #fff;
    transition: .2s;

}

.dropdown-menu .dropdown-item:hover {
    padding: 1.10rem 1.5rem;
    background: linear-gradient(15deg, #0F7ED3, #72B5E9);
}

.dropdown-menu .dropdown-item:focus {
    background: linear-gradient(15deg, #0F7ED3, #72B5E9);
}

/*  Footer  */
.footer {
    width: 100%;
    padding: 15px;
    background-color: #090B10;
    color: #8B95B6;
    text-align: center;
    flex-shrink: 0;
}

.footer .row {
    justify-content: center;
    height: 100%;
    align-items: center;
}

.footer .row p {
    display: inline;
}

.footer .row span {
    color: #ffffff;
    font-size: 17px;
    margin-left: 3px;
}

@media (max-width: 1201px) {
    .header .header__logo {
        justify-content: center;
        margin-bottom: 15px;
    }

    .header .header__nav .navigation {
        justify-content: center;
    }

    .header .header__nav .navigation .item {
        font-size: 18px;
    }

    .footer {
        margin-top: 20px;
    }
}

/*  Media  */
@media (max-width: 770px) {
    .block {
        padding: 15px 10px;
    }

    .header .header__logo .img {
        margin-right: 10px;
    }

    .header .header__nav .navigation .item {
        margin-bottom: 10px;
    }
}
