.main .row {
    justify-content: center;    
}

.test-block {
    width: 100%;
}

.main__test {
    width: 60%;
    text-align: center;
    margin-right: 20px;
}

.info {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.info .item {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    margin: 0 7px;
    border-radius: 5px;
}

.info .item1 {
    background: linear-gradient(15deg, #FF416C, #FF4B2B)
}

.info .item2 {
    background: linear-gradient(15deg, #FDC830, #F37335)
}

.info .item3 {
    background: linear-gradient(15deg, #00B4DB, #0083B0)
}

.info .item .value {
    font-size: 23px;
    font-weight: bold;
}

.click-area {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

#start-btn {
    width: 100%;
    height: 330px;
    font-size: 26px;
    border: 2px solid #fff;
    border-radius: 10px;
    background: #090B10;
    color: #fff;
    cursor: pointer;
    z-index: 10;
}

.main__links {
    text-align: center;
    width: 20%;
}

.main__links .links {
    display: flex;
    flex-direction: column;
}

.main__links .links .link {
    transition: background .2s ease;
    padding: 12px 38px;
    background: #090B10;
    margin-bottom: 10px;
    border-radius: 5px;
}

.main__links .links .link:hover {
    background: #717CB4;
}


@media (max-width: 1201px) {
    .main__test {
        margin: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .info .item .value {
        font-size: 18px;
    }
}
