.container-fluid {
    width: 65% !important;
}

.tests-list {
    min-width: 100%;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.test-card {
    width: 30%;
    text-align: center;
    display: inline-block;
    margin: 0 0.75rem 1.5rem 0.75rem;
    padding: 16px;
    padding-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgb(50 50 50 / 50%);
    transition: all .2s ease;
    background-size: 200% !important;
    background-position: left !important;
}

.test-card .card-icon {
    margin-bottom: 15px;
}

.test-card .card-title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.test-card .card-description {
    font-size: 16px;
}

.tests-list .card-1 {
    background-image: linear-gradient(to right, #0ba360 0%, #3cba92 100%);
}

.tests-list .card-2 {
    background-image: linear-gradient(to right, #005bea 0%, #00c6fb 100%);
}

.tests-list .card-3 {
    background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
}

.test-card:hover {
    transform: translateY(-10px);
    background-position: right !important;
}

@media (max-width: 1201px) {
    .container-fluid {
        width: 90% !important;
    }
}

@media (max-width: 770px) {
    .test-card {
        width: 100%;
    }
}
