/*  User info  */
.user {
    text-align: center;
}

.username-block {
    margin-bottom: 0.8rem;
}

.username-block::after {
    transition: 300ms ease;
    content: "";
    height: 3px;
    background: #89ddff;
    width: 5%;
    margin: auto;
    display: block;
}

.username-block:hover::after {
    width: 10%;
}


.username-block .value {
    padding: 10px;
    font-size: 45px;
    overflow: hidden;
}

.joined-block .label,
.joined-block .value {
    display: inline-block;

}

.joined-block .label {
    color: #bcc2d5;
    font-size: 16px;
}

.joined-block .value {
    font-size: 18px;
    margin-left: 5px;
}


/*  Media  */
@media (max-width: 770px) {
    .username-block::after {
        width: 10%;
    }

    .username-block:hover::after {
        width: 20%;
    }
}
