<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aim.css') }}">
    <title>Aim Test - {{ test_time }} second(s) test</title>
</head>

{% extends "base.html" %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="main__test block col-lg-10 offset-lg-1 col-12">
            <h2 class="title">{{ test_time }} seconds test</h2>
            <div class="info">
                <div class="item item1">
                    <p id="timer" class="value">{{ test_time }}.00</p>
                    <p>Timer</p>
                </div>
                <div class="item item2">
                    <p id="targetPerSecond" class="value">0.00</p>
                    <p>Targets/s</p>
                </div>
                <div class="item item3">
                    <p id="score" class="value">0</p>
                    <p>Score</p>
                </div>
            </div>
            <div class="game-area__wrapper">
                <div class="game-area" id="game-area">
                    <button class="game__start-btn" onclick="startGame()"><span>Click here to start playing</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/aim.js') }}"></script>
{% endblock %}
