<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cps.css') }}">
    <title>{{ WEBSITE_URL }} - CPS Test ({{ test_time }} second test)</title>
</head>

{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="main__test block col-xl-8 col-md-12">
            <h2 class="title">{{ test_time }} seconds test</h2>
            <div class="info">
                <div class="item item1">
                    <p id="timer" class="value">{{ test_time }}.00</p>
                    <p>Timer</p>
                </div>
                <div class="item item2">
                    <p id="cps" class="value">0.00</p>
                    <p>Click/s</p>
                </div>
                <div class="item item3">
                    <p id="counter" class="value">0</p>
                    <p>Score</p>
                </div>
            </div>
            <div id="click-area" class="click-area ripple">
                <button id="start-btn">Click here to start playing</button>
            </div>
        </div>
        <div class="main__links block col-xl-3 col-md-12">
            <h2 class="title">CPS TESTS</h2>
            <div class="links">
                <a class="link" href="{{ url_for('cps_test_page', test_time = 1) }}">1 SECONDS TEST</a>
                <a class="link" href="{{ url_for('cps_test_page', test_time = 2) }}">2 SECONDS TEST</a>
                <a class="link" href="{{ url_for('cps_test_page', test_time = 5) }}">5 SECONDS TEST</a>
                <a class="link" href="{{ url_for('cps_test_page', test_time = 10) }}">10 SECONDS TEST</a>
                <a class="link" href="{{ url_for('cps_test_page', test_time = 15) }}">15 SECONDS TEST</a>
                <a class="link" href="{{ url_for('cps_test_page', test_time = 30) }}">30 SECONDS TEST</a>
                <a class="link" href="{{ url_for('cps_test_page', test_time = 60) }}">60 SECONDS TEST</a>
                <a class="link" href="{{ url_for('cps_test_page', test_time = 100) }}">100 SECONDS TEST</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='js/cps.js') }}"></script>
<script src="{{ url_for('static', filename='js/ripple.js') }}"></script>
{% endblock %}
