<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{{ WEBSITE_URL }}</title>
</head>

{% extends "base.html" %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="tests-list col-12">
            <a class="test-card card-1 box-shadow" href="{{ url_for('cps_test_page', test_time=10) }}">
                <i class="card-icon fa fa-mouse-pointer fa-4x" aria-hidden="true"></i>
                <h3 class="card-title">CPS Test</h3>
                <p class="card-description">Click as fast as possible.</p>
            </a>
            <a class="test-card card-2 box-shadow" href="{{ url_for('aim_test_page', test_time=10) }}">
                <i class="card-icon fa fa-bullseye fa-4x" aria-hidden="true"></i>
                <h3 class="card-title">Aim Test</h3>
                <p class="card-description">How many targets can you hit at the specified time?</p>
            </a>
            <a class="test-card card-3 box-shadow" href="{{ url_for('reaction_test_page') }}">
                <i class="card-icon fa fa-clock-o fa-4x" aria-hidden="true"></i>
                <h3 class="card-title">Reaction time</h3>
                <p class="card-description">Find out your reaction time.</p>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
